<div class="container-fluid">
  <div class='row-fluid'>
    <div class='span2 well'>
      <%= render "shared/about_nav" %>
    </div>
    <div class="span1"></div>
    <div class='span8 well'>

        <h1><div class="page-header">About the Team</div></h1>
        <br>
        <div class="team_container">
          <div class="team"></div>
        </div>
      <br>
      <span class="header font_ubuntu tab">We are Team VRAM</span>
      <div class="margin-left">
      <p class="tab">
            <ul class="font_walkway content">
              <li>Andrew Song (Class of 2015, course 6)</li>
              <li>Vu Le (Class of 2014, Williams College)</li>
              <li>Rohan Mahajan (Class of 2015, course 6)</li>
              <li>Minh Tue (Class of 2014, course 6)</li>
            </ul>
        </p>
      </div>
      <br>
    </div>

    <div class="span1"></div>
  </div>
</div>